<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>

  <a href="#">Home</a>
  <a href="#">Maps</a>
  <a href="#">Blog</a>
  <a href="#">GitHub</a>
</div>

<div id="hamburger-button" onclick="openNav()">
  <div id="hamburger-container">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script>
  

<!-- <div class="fixed">
  <div class="hamburger-position">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>
</div> -->

<!-- <div class="fixed">
  <div class="header fixed shadow"></div>

  <a href="/">
    <i class="material-icons md-light">menu</i>
  </a>

  <img src="/assets/img/avatar.png" alt="avatar" class="avatar shadow">
</div> -->
