<div id="nav" class="sidenav shadow">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="#"><li>Maps</li></a>
    <a href="#"><li>Blog</li></a>
    <a href="#"><li>GitHub</li></a>
  </ul>
</div>

<div id="hamburger-button" onclick="toggleNav()">
  <div id="hamburger-container">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>
</div>

<script>

var isOpen = false;

function toggleNav() {
  document.getElementById("nav").style.marginLeft = isOpen ? "-250px" : "0px";
  isOpen = !isOpen;
}

</script>
  

<!-- <div class="fixed">
  <div class="hamburger-position">
    <div class="hamburger"></div>
    <div class="hamburger"></div>
    <div class="hamburger"></div>
  </div>
</div> -->

<!-- <div class="fixed">
  <div class="header fixed shadow"></div>

  <a href="/">
    <i class="material-icons md-light">menu</i>
  </a>

  <img src="/assets/img/avatar.png" alt="avatar" class="avatar shadow">
</div> -->
