// Top-level elements

$primary-background-color: #EEE;
$secondary-background-color: #FFF;
$tertiary-background-color: #DDD;
$main-text-color: #000;
$title-text-color: #FFF;

// Accents

$primary-accent-color: #28517A;
$secondary-accent-color: #FFF;
