// Top-level elements

$primary-background-color: #EEE;
$secondary-background-color: #FFF;
$tertiary-background-color: #DDEEFF;
$nav-background-color: #222;

$primary-text-color: #000;
$secondary-text-color: #FFD684;
$tertiary-text-color: #FF8484;

// Accents

$primary-accent-color: #28517A;
$secondary-accent-color: #FFF;
